.people-list{
    &__input{
        border: 1px solid #D9D9D9;
        padding: 0.6rem;
        width: 50%;
    }
    &__button{
        border-top: 1px solid #D9D9D9;
        border-right: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        border-left: transparent;
        padding: 0.6rem;
        background-color: #fff;
    }
    &__tile{
        border: 1px solid #D9D9D9;
        height: 200px;
        margin-top: 25px;
        padding: 15px;
        display: flex;
        color: black;
        text-decoration: none;
        transition: background-color 0.2s ease-in-out;
        &:hover{
            background-color: rgba(27, 79, 122, 0.2);
        }
    }
    &__tile-title{
        margin: 0;
    }
    &__tile-image{
        background-color: gray;
        height: 100%;
        min-width: 180px;
        object-fit: cover;
        margin-right: 1rem;
    }
}